#showData{
    margin:20px;
}

#weightsTable{
    max-height: 500px;
    overflow-y: scroll;
    margin: 20px 20px 50px 20px;
    padding: 0;
}

table{
    table-layout: fixed;
    text-align: center;
}

#weightsChart{
    padding: 40px 0 10px 0;
    background: rgba(255,255,255,1);
    margin:0px 10px 40px 10px;
    border-radius: 20px;
}